<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }

        table {
            width: 800px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>post_count</th>
        <th>total_bookmark_count</th>
        <th>date_joined</th>
    </tr>
    {% for user in users %}
        <tr>
            <td style="text-align: right;">{{ user.id }}</td>
            <td style="text-align: center;">{{ user.username }}</td>
            <td style="text-align: center;">{{ user.post_count }}</td>
            <td style="text-align: center;">{{ user.total_bookmark_count }}</td>
            <td>{{ user.date_joined }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>