<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <style type="text/css">
        table, th, td {
            border: 1px solid black;
            padding: 3px;
        }

        table {
            width: 800px;
        }
    </style>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>max_score</th>
        <th>average_score</th>
        <th>created_at</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td style="text-align: right;">{{ post.id }}</td>
        <td style="text-align: center;">{{ post.user.username }}</td>
        <td style="text-align: center;">{{ post.max_score }}</td>
        <td style="text-align: center;">{{ post.average_score }}</td>
        <td>{{ post.created }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>